<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{ partial "head/resource-hints.html" . }}
  {{ partial "head/seo.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_start.html" . }}

  {{ partial "head/stylesheets.html" . }}

  {{ partial "head/dark-mode.html" . }}

  {{ partial "head/favicons.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_end.html" . }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>