:root[data-theme="light"] {

  --orange: goldenrod;
  --orange: rgb(223 139 27 / 78%);
  --green: rgb(120 175 35 / 70%);
  --header-bg: rgb(43 43 43 / 65%);
  --header-color: rgb(236, 229, 229);
  --post-ghost: rgb(114 101 117 / 7%);


  & .light--hidden {
    display: none;
  }

}

:root[data-theme="dark"] {
  --orange: rgb(223 139 27 / 78%);
  --green: rgb(120 175 35 / 70%);
  --header-bg: rgb(43 43 43 / 100%);
  --header-color: rgb(236, 229, 229);
  --post-ghost: rgb(114 101 117 / 11%);

  & .dark--hidden {
    display: none;
  }
}


:root[data-theme="light"] {

  --text: hsl(296, 53%, 6%);

  --background: hsl(285, 22%, 96%);

  --primary: hsl(296, 52%, 28%);
  --primary: hsl(269, 74%, 61%);


  --secondary: hsl(109, 52%, 70%);

  --accent: hsl(169, 52%, 43%);
}

:root[data-theme="dark"] {

  --text: hsl(296, 53%, 94%);

  --background: hsl(294, 54%, 7%);

  --background: rgb(24 23 24);
  --text: rgb(215 210 215);

  /* --primary: hsl(296, 52%, 72%); */
  --primary: hsl(269, 74%, 61%);

  --secondary: hsl(109, 52%, 30%);

  --accent: hsl(169, 52%, 57%);
}