@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-block: 3rem;
  overflow: auto;
}

/* +Animaciones */

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Lora", serif;
  /* font-size: 120%; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  background: var(--accent);
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg,
figure {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.3rem;
}

img {
  object-fit: cover;
}

figcaption {
  font-size: 0.9em;
  opacity: 0.8;
  display: block;
  margin-block: 0.5em;
}

ul,
ol {
  padding: 1em;
}

input,
button,
select,
textarea,
select {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  outline: 1px solid transparent;
  cursor: pointer;
}

svg {
  display: inline-block;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a.link--external::after {
  /* 2009 = Thin Space */
  content: "\2009↗";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.2;
  text-wrap: balance;

  & code {
    font-size: 1em;
  }
}

p {
  text-wrap: pretty;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

table,
th,
td {
  border: 1px solid currentColor;
  padding: 0.5rem;
}

hr {
  border: none;
  background: currentColor;
  height: 1px;
  margin: 3rem auto;
  width: 80%;
}

mark {
  background: var(--secondary);
}

abbr {
  text-underline-offset: 0.2rem;
}

blockquote.twitter-tweet {
  --blue1: blue;
  --blue2: cornflowerblue;

  border-left: var(--blue1) 5px solid;
  margin: 0.5rem 0;

  & p:first-of-type {
    margin-top: 0;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}

blockquote.twitter-tweet {
  border-color: var(--blue2);
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: inherit;

  & a {
    color: var(--blue2);
  }

  & a:hover {
    color: var(--blue1);
    text-decoration: none !important;
  }
}

a {
  text-decoration: underline;
  transition: all 0.2s ease-out;
}
