.post {
  /* padding-inline: 2rem; */
  /* border-radius: .5rem; */
}

.post + .post {
  margin-top: 2rem;
}

.post h2 {
  color: var(--fg1);
}

.post-meta {
  color: var(--fg3);
}

.post-meta,
.post-content {
  padding-top: 0.5em;
}

.post-meta {
  line-height: 0.9;
  letter-spacing: 2px;
}

.soy-un-single-post .post-content {
  columns: 30ch;
  column-rule: 0.1em solid currentColor;
}

.post-content p {
  break-inside: avoid;
}

.post-content p + p {
  margin-top: 0.5em;
}

.post-header,
.post-content {
  & a {
    color: var(--primary-alt);
  }

  & a:hover {
    color: var(--primary);
  }
}

.post-tags {
  text-decoration: none;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin: 1rem 0;
  font-size: 0.8em;
}

.post-tags a {
  background-color: var(--bg2);
  color: white;
  padding: 0.3em 0.7em;
  border-radius: 0.25em;
}

.post-heading__anchor {
  display: none;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  & .post-heading__anchor {
    display: inline-block;
  }
}
