.post {
  background-color: var(--post-ghost);
  position: relative;
}

.post + .post {
  margin-top: 2rem;
}

h1,
h2,
h3 {
  opacity: 0.9;
  padding-block: 0.5em;
}

.post time {
  color: var(--text-3);
  color: hsl(296deg 61.57% 29.33%);
  font-size: 0.8rem;
}

time + time {
  display: inline-block !important;
  padding-inline: 1ex;
}

.post-meta,
.post-content {
  padding-top: 0.5em;
}

.post-meta {
  max-width: 100%;
  line-height: 0.9;
  letter-spacing: 2px;
}

.post-content p + p {
  margin-top: 0.5em;
}

.post-header,
.post-content {
  & a {
    color: var(--primary-alt);
  }

  & a:hover {
    color: var(--primary);
  }
}

.post-tags,
.post-cats {
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin: 1ch 0;
  font-size: 0.8em;
}

.post-cats a,
.post-tags a,
#crumbs a {
  text-decoration: none;
  background-color: var(--post-ghost);
  padding: 0.3em 0.7em;
  border-radius: 0.25em;
  font-size: 0.8rem;
}

#crumbs span {
  display: inline-block;
  padding: 0.3em 0.7em;
  border-radius: 0.25em;
  font-size: 0.8rem;
  opacity: 0.7;
}

.post a {
  text-decoration: underline;
}

.post-tags a:hover,
.post-cat:hover {
  outline: 1px solid var(--accent);
}

.post-heading__anchor {
  display: none;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  & .post-heading__anchor {
    display: inline-block;
  }
}

blockquote {
  white-space: pre-wrap;
  padding: 0 1rem;
  position: relative;
}

blockquote::before {
  content: "“";
  font-size: 1.5em;
  height: 0;
  left: 0;
  position: absolute;
  top: 1rem;
}

.post svg {
  display: inline-block;
  color: var(--primary);
  height: 1.5rem;
}

.more {
  position: absolute;
  right: 1rem;
  bottom: 0;
}
