<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default " es" }}" data-theme="{{ .Param " defaultTheme" | default "dark" }}">
{{ partial "head/head.html" . }}

<body>
  <div id="st-container" class="st-container">

    <nav class="st-menu st-effect-1" id="menu-1">
      <ul class="menu--horizontal">

        <li class="menu__item mt-3">
          <a href="/">Inicio</a>
        </li>
        <li class="menu__item">
          <a href="/blog">Blog</a>
        </li>
        <li class="menu__item">
          <a href="/nosotros">Nosotros</a>
        </li>
      </ul>


    </nav>
    <div class="st-pusher">

      <nav class="st-menu st-effect-3" id="menu-3" hidden>
      </nav>

      {{ partial "header.html" . }}

      <main class="main">

        {{ if .IsHome }}
        <!-- Mostrar solo en la página de inicio: -->
        {{ block "main" . }} {{ end }}
        <!-- PENDIENTE {{ partial "notice.html" . }} -->

        {{ else }}
        <!-- Mostrar en cualquier otra página: -->
        {{ partial "sidebar--left.html" .}}
        {{ block "main" . }}{{ end }}
        {{ partial "sidebar--right.html" .}}

        {{ end }}
      </main>

      {{ partial "footer.html" . }}
</body>

</html>