{{ define "main" }}
<div class="content">
  <article class="post soy-un-single-post">
    <div class="post-header">
      <h1>{{ .Title | markdownify }}</h1>
      {{ partial "post-meta--coveronly.html" (dict "page" . "pageIndex" 0) }}
    </div>

    <div class="post-content">
      {{ .Content }}
    </div>

    {{- with .Params.Author -}}
    <span> by </span><span class="post-meta__author">{{ . }}</span>
    {{- end -}}

    <!-- Tags del post -->
    {{ with .Params.tags }}
    <span class="sr-only">Etiquetas del post:</span>
    <div class="post-tags">
      {{ partial "i_tag.html" . }}
      {{ range . -}}
      <a class="post-tag" href="{{ urlize (printf " tags/%s" . ) | absURL }}">
        {{- /* Replace hyphen with space */ -}}
        {{- replace (urlize .) "-" " " | safeHTML -}}
      </a>
      {{- end }}
    </div>
    {{ end }}

    <!-- Cat del post -->
    {{ with .Params.categoria }}
    <div class="post-cats">
      {{ partial "i_cat.html" . }}

      {{ range . -}}
      <a class="post-cat" href="{{ urlize (printf " categoria/%s" . ) | absURL }}">
        {{- /* Replace hyphen with space */ -}}
        {{- replace (urlize .) "-" " " | safeHTML -}}
      </a>
      {{- end }}
    </div>
    {{ end }}


    {{ if .Params.Comments }}
    {{ partial "comments.html" . }}
    {{ end }}
  </article>
</div>
{{ end }}