.footer {
  position: relative;
  z-index: -1;
  text-align: center;
  opacity: 0.7;
  padding-block: 3rem 1rem;
}

/* width */
.w-90vw {
  width: 90vw !important;
  margin-inline: auto;
}

.w-fit-content {
  width: fit-content;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* links */
a {
  color: var(--primary);
}

a:hover,
a:focus {
  color: var(--secondary);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/* Grid */

.wide {
  grid-column: -1/1 !important;
}

/* .soy-un-single-post .post-content {
  -moz-column-rule: 0.1em solid currentColor;
  column-rule: 0.1em solid currentColor;
  -moz-columns: 30ch;
  columns: 30ch;
} */

.columns {
  columns: 30ch;
  column-rule: 0.1em solid currentColor;
}

.columns p {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

/* +Utilities */

.d-none {
  display: none;
}

@media only screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}

/* +Text */
.caps {
  display: block;
  text-transform: uppercase;
}

.caps--small {
  font-size: 0.8rem;
}

.mb-1 {
  margin-bottom: 1em;
}

.fs-sm {
  font-size: 1rem;
}

.relative {
  position: relative;
}

/* https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
