footer {
  align-items: center;
  color: var(--fg3);
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  text-align: center;
}

/* Buttons */
a {
  color: var(--primary);
}

a:hover,
a:focus {
  color: var(--accent);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "codropsicons";
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

.limited {
  max-width: 69em;
  margin: 0 auto;
}

.wide {
  grid-column: -1/1 !important;
}

.post + .post {
  margin-top: 2rem;
}

.post h2 {
  color: var(--fg1);
}

.post-meta {
  color: var(--fg3);
}

.post-content,
.post-meta {
  padding-top: 0.5em;
}

.post-meta {
  letter-spacing: 2px;
  line-height: 0.9;
}

/* .soy-un-single-post .post-content {
  -moz-column-rule: 0.1em solid currentColor;
  column-rule: 0.1em solid currentColor;
  -moz-columns: 30ch;
  columns: 30ch;
} */

.post-content p {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.post-content p + p {
  margin-top: 0.5em;
}

.post-content a,
.post-header a {
  color: var(--blue2);
  color: var(--primary-alt);
}

.post-content a:hover,
.post-header a:hover {
  color: var(--blue1);
  color: var(--primary);
}

.post-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  gap: 0.3rem;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.post-tags a {
  background-color: var(--bg2);
  border-radius: 0.25em;
  color: #fff;
  padding: 0.3em 0.7em;
}

.post-heading__anchor {
  display: none;
}

h1:hover .post-heading__anchor,
h2:hover .post-heading__anchor {
  display: inline-block;
}

img {
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/* +Utilities */

.d-none {
  display: none;
}

@media only screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

.caps {
  display: block;
  text-transform: uppercase;
}

.caps--small {
  font-size: 0.8rem;
}

.mb-1 {
  margin-bottom: 1em;
}

blockquote {
  padding: 0 1rem;
  position: relative;
  white-space: pre-wrap;
}

blockquote:before {
  content: "“";
  font-size: 1.5em;
  height: 0;
  left: 0;
  position: absolute;
  top: 1rem;
}

.w-90vw {
  width: 90vw !important;
  margin-inline: auto;
}
