footer {
  align-items: center;
  color: var(--fg3);
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  text-align: center;
}

/* Buttons */
a {
  color: var(--primary);
}

a:hover,
a:focus {
  color: var(--accent);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "codropsicons";
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

.limited {
  max-width: 69em;
  margin: 0 auto;
}

.column {
  float: left;
  width: 50%;
  padding: 0 2em;
  min-height: 300px;
  position: relative;
  text-align: right;
}

.column:nth-child(2) {
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  text-align: left;
}

.column p {
  font-weight: 300;
  font-size: 2em;
  padding: 0 0 0.5em;
  margin: 0;
  line-height: 1.5;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  background: #388a5a;
  color: #fff;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

button:hover {
  background: #2c774b;
}

.info {
  text-align: center;
  font-size: 1.5em;
  margin-top: 3em;
  clear: both;
  padding: 3em 0;
  opacity: 0.7;
  color: #aca89a;
}

.info a {
  font-weight: 700;
  font-size: 0.9em;
}

@media screen and (max-width: 46.0625em) {
  .column {
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding: 2em;
    text-align: center;
  }

  .column p {
    font-size: 1.5em;
  }

  .column:nth-child(2) {
    text-align: center;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 25em) {
  .codrops-header {
    font-size: 80%;
  }

  .codrops-top {
    font-size: 120%;
  }

  .codrops-icon span {
    display: none;
  }
}

.header {
  align-items: center;
  background-color: var(--fg1);
  color: var(--bg0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  padding: 0.7em;
  position: fixed;
  right: 0;
  top: 0;
}

.gap-1,
.header {
  gap: 0.5rem;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
}

.wide {
  grid-column: -1/1 !important;
}

.post + .post {
  margin-top: 2rem;
}

.post h2 {
  color: var(--fg1);
}

.post-meta {
  color: var(--fg3);
}

.post-content,
.post-meta {
  padding-top: 0.5em;
}

.post-meta {
  letter-spacing: 2px;
  line-height: 0.9;
}

.soy-un-single-post .post-content {
  -moz-column-rule: 0.1em solid currentColor;
  column-rule: 0.1em solid currentColor;
  -moz-columns: 30ch;
  columns: 30ch;
}

.post-content p {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.post-content p + p {
  margin-top: 0.5em;
}

.post-content a,
.post-header a {
  color: var(--blue2);
  color: var(--primary-alt);
}

.post-content a:hover,
.post-header a:hover {
  color: var(--blue1);
  color: var(--primary);
}

.post-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  gap: 0.3rem;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.post-tags a {
  background-color: var(--bg2);
  border-radius: 0.25em;
  color: #fff;
  padding: 0.3em 0.7em;
}

.post-heading__anchor {
  display: none;
}

h1:hover .post-heading__anchor,
h2:hover .post-heading__anchor {
  display: inline-block;
}

img {
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.content {
  overflow: hidden;
}

.main {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 6rem;
  position: relative;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .main {
    grid-template-columns: 13rem 1fr;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    grid-template-columns: 13rem 1fr 10rem;
  }
}

.main > * {
  padding: 0.7rem;
}

.sidebar--left {
  align-self: start;
  display: flex;
  position: sticky;
  top: 4rem;
}

.sidebar--right {
  grid-column: -1/1;
}

@media only screen and (min-width: 1200px) {
  .sidebar--right {
    grid-column: unset;
  }
}

.sidebar > * {
  background-color: var(--bg2);
}

.post,
.sidebar > * {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.post {
  background-color: var(--bg1);
}

.post h1,
.post h2 {
  color: --var(fg0);
}

.post h2 {
  color: var(--fg0);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.post time {
  color: var(--fg2);
}

time + time {
  display: inline-block !important;
  padding-left: 1ex;
  padding-right: 1ex;
}

.read-more {
  background-color: #fff;
  border-radius: 0.3rem;
  display: block;
  margin-top: 0.5em;
  padding: 0.3em 0.5em;
  text-align: center;
}

.post.post-en-lista {
  transition: background 0.3s ease;
}

.post.post-en-lista .read-more {
  -moz-column-span: all;
  column-span: all;
}

.post.post-en-lista figure {
  display: grid;
  grid-gap: 0.5em;
  gap: 0.5em;
}

.soy-un-single-post.post {
  background-color: inherit;
  border-radius: 0;
  padding: 0;
}

.soy-un-single-post.post h1 {
  border-bottom: 1px solid;
  font-size: clamp(2.5rem, 3vw + 10px, 3rem);
}

.btn--glow {
  align-items: center;
  background-color: var(--bg2);
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: grid;
  font-weight: bolder;
  grid-auto-flow: column;
  justify-items: center;
  letter-spacing: 2px;
  outline: none;
  padding: 0.5em 1em;
  place-items: center;
  position: relative;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.btn--glow span {
  padding-right: 2px;
}

.btn--glow:focus-visible {
  background-color: var(--fg3);
  transform: translateY(-0.2em);
}

.btn--glow:hover {
  background-color: var(--fg3);
  box-shadow: 0 10px 25px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-0.2em);
}

.btn--glow:active,
.btn--glow:focus-visible {
  transform: translateY(-1px);
}

.btn--glow:hover:after {
  bottom: -4px;
  bottom: -0.2em;
  content: "";
  height: 4px;
  height: 0.2em;
  left: -0.3rem;
  position: absolute;
  right: -0.3rem;
}

.btn {
  align-content: center;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  place-content: center;
  place-items: center;
  width: -moz-fit-content;
  width: fit-content;
  grid-gap: 1ex;
  border-radius: 0.3em;
  gap: 1ex;
  height: 1.5em;
  isolation: isolate;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.btn svg {
  fill: currentColor;
  height: 1.3em;
}

#menu-1 {
  align-content: start;
  background: var(--bg2);
  display: grid;
  height: 120vh;
  position: fixed;
  top: 0;
}

.d-none {
  display: none;
}

@media only screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

.caps {
  display: block;
  text-transform: uppercase;
}

.caps--small {
  font-size: 0.8rem;
}

.mb-1 {
  margin-bottom: 1em;
}

blockquote {
  padding: 0 1rem;
  position: relative;
  white-space: pre-wrap;
}

blockquote:before {
  content: "“";
  font-size: 1.5em;
  height: 0;
  left: 0;
  position: absolute;
  top: 1rem;
}

.w-90vw {
  width: 90vw !important;
  margin-inline: auto;
}
