{{ if .IsHome }}
<!-- no crumbs in home page -->

{{ else }}

<!-- crumbs: -->
<div id="crumbs" class="orange">
  <!-- <div class="orange"> -->
  <span class="fs-sm">Estas aquí:</span>
  <ol>
    {{- range .Ancestors.Reverse }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a><span> ></span></li>
    {{- end }}
    <li><span>{{ .Title }}</span></li>
  </ol>
  <!-- </div> -->
  <style>
    #crumbs {
      /* margin-top: 7rem; */

      margin-bottom: 1rem;

      align-items: end;
      gap: 0;

    }

    .orange {
      outline: none;
      background-color: rgb(255 194 194 / 19%);
      border-radius: .3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    #crumbs ol {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      line-height: 1.2;
    }

    #crumbs li {
      position: relative;
      margin-right: 1ex;

    }

    #crumbs a {
      margin-bottom: .5em;

    }
  </style>
</div>

{{ end }}