{{ if .IsHome }}
<!-- no crumbs in home page -->

{{ else }}

<!-- crumbs: -->
<div id="crumbs" class="orange">
  <span class="sr-only">Estas aquí:</span>
  <ol>
    {{- range .Ancestors.Reverse }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ partial "i_arrow.html" }}
    </li>
    {{- end }}
    <li><span>{{ .Title }}</span></li>
  </ol>
  <style>
    #crumbs {
      margin-bottom: 1rem;
      padding: 0;
      display: flex;
    }

    #crumbs ol {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0;
    }

    #crumbs li {
      position: relative;
    }

    #crumbs a {
      margin-bottom: .5em;
    }

    svg {
      height: .7em;
      width: auto;
    }
  </style>
</div>

{{ end }}