<header class="header">
  <a class="logo" href="
    {{- with $.Site.Params.Logo.URL -}}
      {{- . -}}
    {{- else -}}
      {{- $.Site.BaseURL -}}
    {{- end -}}">
    {{ with $.Site.Params.Logo.Text }}
    <div class="logo__text">{{ . }}</div>
    {{ end }}
  </a>

  <div class="search">
    <input id="search__text" type="search" placeholder="{{- $.Site.Params.search -}}" aria-label="{{- $.Site.Params.search -}}" autocomplete="off" />
    <div id="search__suggestions" class="search__suggestions--hidden"></div>

  </div>


  <div>
    <button data-effect="st-effect-1" aria-label="Mostrar sidebar de navegación">Ss</button>
    <!-- <button data-effect="st-effect-3">Push</button> -->
  </div>


  <button class="theme__toggle light--hidden" aria-label="Toggle light mode">
    {{ partial "icons/tabler-icon.html" "sun" }}
  </button>

  <button class="theme__toggle dark--hidden" aria-label="Toggle dark mode">
    {{ partial "icons/tabler-icon.html" "moon" }}
  </button>
</header>

<style>
  button {
    cursor: pointer;
  }

  .header button>span {
    pointer-events: none;
  }
</style>

<script>
  var btns = document.querySelectorAll('[data-effect]');
  var stContainer = document.querySelector('#st-container');
  var pusher = document.querySelector('.st-pusher');
  var effect;


  btns.forEach(btn => {
    btn.addEventListener('click', (e) => {
      e = event
      effect = e.target.getAttribute('data-effect');

      stContainer.classList.toggle(effect);
      stContainer.classList.toggle('st-menu-open');
      // alert(effect)
    })
  })

  // pusher.addEventListener('click', closeMenu);
  pusher.addEventListener('click', (e) => {
    if (stContainer.classList.contains('st-menu-open')) {
      closeMenu(e)
    }
  });

  function closeMenu(el) {

    if (el.target.classList.contains('st-pusher')) {
      stContainer.classList.remove(effect);
      stContainer.classList.remove('st-menu-open');

    }
  }
</script>