{{ define "main" }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}


{{ range $pages}}
{{ if .Params.pinned }}
<section class="wide limited">

  <article class="post grid md-two-columns">


    {{ partial "image.html" (dict "src" .Params.cover.src "alt" .Params.cover.alt "caption" .Params.cover.caption "page" . "lazy" true) }}
    <div>
      <h2>{{ .Title }}</h2>
      {{ if .Params.subtitle }}
      <small>{{ .Params.subtitle }}</small>
      {{ end }}
      <!-- <p>{{ .Summary }}</p> -->

    </div>
  </article>

</section>

{{ end }}
{{ end }}


<section class="wide limited ">

  <div class="columns">
    {{ range $pages}}
    <article class="post">

     

      {{ if .Params.cover }}


      {{ partial "image.html" (dict "src" .Params.cover.src "alt" .Params.cover.alt "caption" .Params.cover.caption "page" . "lazy" true) }}

      {{ end }}

      <h2>{{ .Title }}</h2>

      {{ if .Params.subtitle }}
      <small>{{ .Params.subtitle }}</small>
      {{ end }}

      <!-- <p>{{ .Summary }}</p> -->

      <a href="{{ .Permalink }}">Leer más</a>

    </article>
    {{ end }}
  </div>

  <style>
    .columns {
      --post-ghost: transparent;
      columns: 30ch;
      columns: min(80vw, 35ch);
      column-rule: none;
    }

    .columns>* {
      break-inside: avoid;
    }

    .columns h2{
      /* text-transform: uppercase; */
      font-weight: 700;
    }
  </style>
</section>

{{ end }}